<p>
    Bon, on doit l'avouer, on ne voulait pas créer un blog pour le voyage. Ce voyage on le voulait pour nous, à notre rythme, sans inconsciemment se forcer à raconter plus de choses dans le but de remplir les pages d'un blog. Mais ça c'était avant...
</p>
<p>
    Quelques mois avant de partir nos familles, amis, collègues ont commencé à nous poser les mêmes questions : "Vous partez où ?, Quand ?, Comment vous allez faire pour vous déplacer ?, Vous nous donnerez des nouvelles, vous nous enverrez des photos ?". 
</p>
<p>
    Finalement l'envie de pouvoir partager notre voyage à commencé à faire son chemin et cette avanture au quatres coins du monde c'est aussi la leur. Chacun à leur manière nous ont accompagné dans les préparatifs et jusqu'au départ. Et puis c'est quand même rassurant de pouvoir dès que possible partager nos vies et garder ce lien intime tout en étant à l'autre bout du monde.
</p>
<p>
    Puis après la formation de Willy dans le développement web, créer un blog est devenu un défi. Le défi de pouvoir créer notre carnet de voyage digital. Voilà comment est né <strong>Wanderlust</strong>.
</p><br>