<!-- Calls the header in layouts -->
<div class="wrapper">
<%= render 'shared/navbar' %>


<%= render 'shared/footer' %>

<button type="button" id="monBouton" onclick="topFunction()"><%= image_tag 'arrow.png' %></button>

</div>
