<!-- Calls the header in layouts -->

<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>
      <!-- Hero fullwidth -->
      <!-- End of hero -->

    <!-- Container for content  -->
    <!-- End of container for content -->

    <!-- Footer -->
    <footer>
      <%= render 'shared/footer' %>
    </footer>
    <!-- End of footer -->
    <button type="button" id="monBouton" onclick="topFunction()"><%= image_tag 'arrow.png' %></button>
  </body>
  <!-- End of body -->
</div>
<!-- End of main wrapper -->
