<div class="wrapper">
<!-- Navbar -->
<%= render 'shared/navbar' %>
  <!-- Body container -->
  <body>
      <!-- Hero fullwidth -->
      <!-- End of hero -->

    <!-- Container for content  -->
    <!-- End of container for content -->

  </body>
  <!-- End of body -->
<!-- Footer -->
<%= render 'shared/footer' %>
<!-- End of footer -->
<button type="button" id="myButton" onclick="topFunction()"><%= image_tag 'arrow.png' %></button>
</div>
<!-- End of main wrapper -->
