<div class="container pt90  pb60">
    <div class="row align-items-center">
        <div class="col-lg-12 mb30">
            <video width="1000" height="500" autoplay>
                <source src="app/assets/images/6i2vq-vs5sd.webm" type="video/webm">
            </video> 
        </div>
    </div>
</div>