<div class="container pt90  pb60">
    <div class="row align-items-center">
        <div class="col-md-6 mb30">
            <div class="embed-responsive embed-responsive-16by9">
                <%= video_tag "media.io_video.webm", class:"embed-responsive-item", autoplay:"autoplay" %>
             </div>
        </div>
    </div>
</div>

