<div class="container pt90  pb30">
    <div class="row align-items-center">
        <div class='col-lg-9 ml-auto mr-auto'>
            <div class="title-heading1 mb30">
                <h3>Notre trajet</h3>                       
            </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <%= video_tag "video.mp4", class:"embed-responsive-item", autoplay:"autoplay", loop:"loop" %>
                </div>
                <p class='lead tritary-font mb50 text-center'>
                    12 pays pendant plus ou moins 12 mois, de l'avion (un peu), de la voiture (parfois) et du bus (beaucoup). Un long voyage, des découvertes et énorméments de souvenirs à partager.
                </p>
        </div>
    </div>
</div>

