<div class="container pt90  pb60">
    <div class="row align-items-center">
        <div class="col-md-6 mb30">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/7G-x6-WJNXE?&controls=0&disablekb=1&autoplay=1&loop=1&playlist=7G-x6-WJNXE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
             </div>
        </div>
    </div>
</div>

