<div class="container pt90 pb50">
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-dark icon-mobile icon-hover-default"></i>
                <h4>Mobile Friendly</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-danger icon-chat icon-hover-default"></i>
                <h4>Fast Response</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-primary icon-profile-male icon-hover-default"></i>
                <h4>Trusted Author</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-primary icon-profile-male icon-hover-default"></i>
                <h4>Trusted Author</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
    </div>
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-default icon-mobile icon-hover-default"></i>
                <h4>Mobile Friendly</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-warning icon-chat icon-hover-default"></i>
                <h4>Fast Response</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-success icon-profile-male icon-hover-default"></i>
                <h4>Trusted Author</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-success icon-profile-male icon-hover-default"></i>
                <h4>Trusted Author</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
    </div>
    <div class="row">
        <div class="col-lg-3 mb40 text-center">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-default icon-mobile icon-hover-default"></i>
                <h4>Mobile Friendly</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-warning icon-chat icon-hover-default"></i>
                <h4>Fast Response</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-success icon-profile-male icon-hover-default"></i>
                <h4>Trusted Author</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
        <div class="col-lg-3 mb40">
            <div class="icon-box icon-box-center">
                <i class="icon-hover-1 bg-success icon-profile-male icon-hover-default"></i>
                <h4>Trusted Author</h4>
                <p>
                    Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.
                </p>
            </div>
        </div><!--/col-->
    </div>
</div>
