<div class="footer-bottomAlt">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="clearfix">
                    <a href="https://fr-fr.facebook.com/" class="social-icon-sm si-dark si-facebook si-dark-round">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.whatsapp.com/" class="social-icon-sm si-dark si-whatsapp si-dark-round">
                        <i class="fa fa-whatsapp"></i>
                        <i class="fa fa-whatsapp"></i>
                    </a>
                    <a href="https://www.skype.com/fr/" class="social-icon-sm si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                        <i class="fa fa-skype"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <span>&copy; Wanderers in transit</span>
            </div>
        </div>
    </div>
</div>
