<!-- Footer -->
<footer>
    <div class="footer-left">
        <p>Test</p>
    </div>

    <div class="footer-right">
        <ul class="social-items">
            <li class="facebook"><i class="fab fa-facebook fa-2x" aria-hidden="true"></i></li>
            <li class="instagram"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li class="whatsapp"><i class="fab fa-whatsapp fa-2x" aria-hidden="true"></i></li>
            <li class="skype"><i class="fab fa-skype fa-2x" aria-hidden="true"></i></li>
        </ul>
    </div>
  </div>
</footer>
