<div class="half-image-content bg-personalized" id="section2">
    <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}'>
    </div>
    <%= image_tag "view.jpg", class: "visible-lg-down hidden-lg-up img-fluid", alt: "" %>
    <div class="container">
        <div class="row">
            <div class="col-lg-5  pt70 pb70">
                <h2 class="mb40 text-white">
                    Un carnet de voyage reflet de notre bougeotte
                </h2>
                <div class="clearfix text-white-gray">
                    <p>
                        Bon, on doit l'avouer, on ne voulait pas créer un blog pour le voyage. Ce voyage on le voulait pour nous, à notre rythme, sans inconsciemment se forcer à raconter plus de choses dans le but de remplir les pages d'un blog. Mais ça c'était avant...
                    </p>
                    <p>
                        Quelques mois avant de partir nos familles, amis, collègues ont commencé à nous poser les mêmes questions : "Vous partez où ?, Quand ?, Comment vous allez faire pour vous déplacer ?, Vous nous donnerez des nouvelles, vous nous enverrez des photos ?". 
                    </p><br>
                    <a href="#" class="btn btn-white">View Features</a>
                </div>
            </div>
        </div>
    </div>
</div>
