<div class="half-image-content bg-personalized" id="section2">
    <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}'>
    </div>
    <%= image_tag "view.jpg", class: "visible-lg-down hidden-lg-up img-fluid", alt: "" %>
    <div class="container">
        <div class="row">
            <div class="col-lg-5  pt70 pb70">
                <h2 class="mb40 text-white">
                    Un carnet de voyage reflet de notre bougeotte
                </h2>
                <div class="clearfix text-white-gray">
                    <p>
                        Bon, on doit l'avouer, on ne voulait pas créer un blog pour le voyage. Ce voyage on le voulait pour nous, à notre rythme, sans inconsciemment se forcer à raconter plus de choses dans le but de remplir les pages d'un blog. Mais ça c'était avant...
                    </p>
                    <p>
                        Finalement partager notre voyage d'une autre manière que par mail, sms ou skype était aussi important pour nous. Nous avons donc fait le choix d'essayer de créer un blog, sorte de carnet de voyage digital où tout le monde pourra voir où nous en sommes. 
                    </p>
                    <p>
                        Mais on va vous expliquer tout cela plus en détail, suivez le guide...
                    </p><br>
                    <%= link_to "Le commencement", first_article_path,class:"btn btn-white"%>
                </div>
            </div>
        </div>
    </div>
</div>
