<div class="half-image-content bg-personalized">
    <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url('assets/view.jpg') no-repeat;">
    </div>
    <%= image_tag "view.jpg", class: "visible-lg-down hidden-lg-up img-fluid", alt: "" %>
    <div class="container">
        <div class="row">
            <div class="col-lg-5  pt70 pb70">
                <h2 class="mb40 text-white">
                    Limitless possiblities create incredible layouts
                </h2>
                <div class="clearfix text-white-gray">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p><br>
                    <a href="#" class="btn btn-white">View Features</a>
                </div>
            </div>
        </div>
    </div>
</div>
