<article class="col-md-12 post-masonry mb20">
    <h4 class="masonry-title-article mb0"><%= @post.title %></h4>
    <ul class="post-meta-article list-inline">
        <li class="list-inline-item">
            <i class="fa fa-calendar-o"></i> <a href="#">29 June 2017</a>
        </li>
        <li class="list-inline-item">
            <i class="fa fa-tags"></i> <a href="#">Lieu</a>
        </li>
    </ul>

    <%= sanitize @post.content %>

</article>
