<article class="col-md-12 post-masonry mb20">
    <h2 class="masonry-title-article mb0"><%= @post.title %></h2>
    <ul class="post-meta-article list-inline">
        <li class="list-inline-item">
            <i class="fa fa-calendar-o"></i> <span class="font-size-icon"><%= @post.date.strftime("%e %b %Y") %></span>
        </li>
        <li class="list-inline-item">
            <i class="fa fa-map-marker"></i> <span class="font-size-icon"><%= @post.place %></span>
        </li>
    </ul>

    <%= sanitize @post.content %>

</article>
