<ul class="admin-index">
  <% @posts.each do |post| %>
      <li>
          <%= link_to post.title, post %>
          <%= truncate(sanitize(strip_tags(post.content)), length: 50, separator: ' ') %>
      </li>
  <% end %>
</ul>
