
/* Let's style the wrapper in such away that,
it should always be at the center of the browser */
.footer-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.footer-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.footer-right ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left and set its border and border-radius.
 */
.footer-right ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.footer-right ul li .fab {
  color: #D8E2DC;
  margin-top: 17px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.footer-right ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer-right ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/* instagram */
.footer-right ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.footer-right ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* whatsapp */
.footer-right ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.footer-right ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/* skype */
.footer-right ul li:hover.skype {
  border: 5px solid #00AFF0;
  box-shadow: 0 0 15px #00AFF0;
  transition: all 0.5s ease;
}

.footer-right ul li:hover .fa-skype {
  color: #00AFF0;
  text-shadow: 0 0 15px #00AFF0;
  transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 640px){
  .footer-right {
      width: 350px;
  }
  .footer-right ul li{
      margin-top: 10px;
  }
  .footer-right ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .footer-right {
      width: 150px;
  }
  .footer-right ul li{
      margin:15px;
  }
  .footer-right ul li.google{
      margin-left: 15px;
  }
}
