.bg-personalized {
  border-color: #20201E !important;
  background-color: #20201E !important; }

.content-img.bg-parallax.pos-right.hidden-md-down {
  background-image: image-url('view.jpg');
  background-repeat: no-repeat;
}
