// Define the mixins for quicker dev (to use mixins : @include + name of the mixin)
@mixin transition($in) {
    transition:$in;
    -webkit-transition:$in;
    -moz-transition:$in;
    -o-transition:$in;
    -ms-transition:$in;
}

@mixin animation($in) {
    animation:$in;
    -webkit-animation:$in;
    -moz-animation:$in;
    -o-animation:$in;
    -ms-animation:$in;
}

@mixin box-shadow($in) {
    box-shadow:$in;
    -webkit-box-shadow:$in;
    -moz-box-shadow:$in;
    -o-box-shadow:$in;
    -ms-box-shadow:$in;
}

@mixin transform($in) {
    transform:$in;
    -webkit-transform:$in;
    -moz-transform:$in;
    -o-transform:$in;
    -ms-transform:$in;
}

// Styling of the blob navigation element
// Bars inside the clicking blob
.blob-bar {
  display:block;
  width:20px;
  height:5px;
  margin:5px auto;
  background-color:#f5f5f5;
  border-radius:2px;

  @include transition(all 0.4s linear 0.1s);

  &:first-child {
    margin-top:17px;
  }
}

// Container for the blobs
.blob-wrap {
    position:absolute;
    top:50px;
    right:5px;
    margin:auto;
    width:150px;
    height:100px;
    filter:url("#filt");
    -webkit-filter:url("#filt");

    .blob {
        display:block;
        cursor:pointer;
        border:none;
        outline:none;
        position:absolute;
        width:60px;
        height:60px;
        border-radius:50%;
        z-index:10;
        background-color:#f04d4d;

        @include box-shadow(0 0 10px 1px rgba(0,0,0,0.3));

        &[for="checking"] {
            z-index:30;
            font-size:60px;
            text-align:center;
            color:#f5f5f5;

            @include transition(transform 0.5s ease-in-out 0.2s);
        }

        // Hide blobs when no click on parent blob
        &:not([for="checking"]) {
            width:50px;
            height:50px;
            top:5px;
            right:95px;
            font-size:30px;
            @include transition(all 0.5s ease-in-out);

            &:hover {
                color:#f04d4d;
                @include animation(harlem 0.5s linear forwards);
            }
        }
    }
    &>#checking:checked~.blob:nth-child(2) {
        margin-top:10px;
        margin-right:85px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(3) {
        margin-top:145px;
        margin-right:65px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(4) {
        margin-top:160px;
        margin-right:10px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(5) {
        margin-top:85px;
        margin-right:10px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(6) {
        margin-top:63px;
        margin-right:63px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(7) {
        margin-top:65px;
        margin-right:145px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(8) {
        margin-top:112px;
        margin-right:112px;
        background-color:#f5f5f5;
    }
    &>#checking:checked~.blob:nth-child(9) {
        margin-top:10px;
        margin-right:160px;
        background-color:#f5f5f5;
    }

    &>#checking:checked~.blob:nth-child(10) {
        margin-top:65px;
        margin-right:220px;
        background-color:#f5f5f5;
    }

    &>#checking:checked~.blob:nth-child(11) {
        margin-top:120px;
        margin-right:190px;
        background-color:#f5f5f5;
    }

    &>#checking:checked~.blob:nth-child(12) {
        margin-top:168px;
        margin-right:150px;
        background-color:#f5f5f5;
    }

    &>#checking:checked~.blob:nth-child(13) {
        margin-top:205px;
        margin-right:100px;
        background-color:#f5f5f5;
    }

    // Putting the bars into a cross (3 bars, 2 needed for the cross)
    &>#checking:checked~.blob[for="checking"]>.blob-bar {
    &:nth-child(1) {
      @include transform(rotate(45deg));
      margin-top:27px;
    }
    &:nth-child(2) {
      @include transform(rotate(-45deg));
      margin-top:-10px;
    }
    &:nth-child(3) {
      opacity:0;
    }
    }
}

@keyframes harlem {
    0% {
        @include transform(translate(0));
    }
    25% {
        @include transform(translate(5px,5px));
    }
    50% {
        @include transform(translate(-5px,-5px));
    }
    75% {
        @include transform(translate(2px,2px));
    }
    100% {
        @include transform(translate(0));
    }
}
@-webkit-keyframes harlem {
    0% {
        @include transform(translate(0));
    }
    25% {
        @include transform(translate(5px,5px));
    }
    50% {
        @include transform(translate(-5px,-5px));
    }
    75% {
        @include transform(translate(2px,2px));
    }
    100% {
        @include transform(translate(0));
    }
}
