.button_group.text_tools, .button_group.block_tools, .button_group.history_tools {
  background-color: white;
}

.trix_body {
  background-color: white;
}

.col-md-12.post-masonry.mb20 a {
  img {
    max-width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .size {
      display: none;
  }
}
