/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// Custom css for global elements and fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed+Lato');
@import "components/navbar";
@import "components/footer";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Fira Sans Condensed', sans-serif;
font-weight: bolder;
}


html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}

.wrapper {
   position:relative;
}

#myButton {
  font-size: 40px;
  color: white;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  position: fixed;
  top: 90%;
  left: 95%;
}
